#wrapper{
width: 1000px
margin-left: auto;
margin.right: auto;
}


header{
  height:100px;
  width:1000px;
  background-color:#CF2500;
}

main{
  height:500px;
  width:1000px;
  background-color:#00C1C2;

}

footer{
  height:500px;
  width:1000px;
  background-color:#00C1C2;
}

section{
  height:500px;
  width:1000px;
  background-color:#CF2500;

}

#container {
  display:flex;

}

.img-Chassie {
  float: right;
}
